<!-- quiz/templates/quiz/upload.html -->

{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-center animate__animated animate__fadeInDown">Upload PDF</h1>
<form method="post" enctype="multipart/form-data" id="pdf-upload-form" class="animate__animated animate__fadeInUp">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.file.label_tag }}
        {{ form.file }}
    </div>
    <button type="submit" class="btn btn-primary w-100">Upload</button>
</form>

<script>
    document.getElementById('pdf-upload-form').addEventListener('submit', function() {
        document.querySelector('.loading').style.display = 'block';
    });
</script>
{% endblock %}